*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	color:#673929;
}
#container{
	width: 900px;
	margin: 0 auto;
}
#header{
	height: 220px;
	margin-bottom: 5px;
	position: relative;
}
#icon-list{
	position: absolute;
	top:170px;
	right: 30px;
	width: 130px;
	height: 30px;
}
#nav{
	height: 30px;
	line-height: 30px;
	margin: 5px;
	background-color: #09c;
	font:18px/30px;
	color:#fff;
	letter-spacing: 2px;
	text-align: center;
}
#nav a{
	text-decoration: none;
}
a:link{
	color: #fff;
}
a:visited{
	color:#fff;
}
a:hover{
	color: yellow;
}
a:active{
	color: yellow;
}
#main{
	background-color: #000;
	/*height: 2050px;*/
}
#aside{
	float: left;
	width: 300px;
	height: 500px;
	background-color: #6cf;
	text-align: center;
	font-size: 14px;
}
#aside th,td{
	width: 60px;
}
#aside #imglist{
	width: 100px;
	margin: 0 auto;
}
#aside .picbox{
	width: 95px;
	margin: 0 auto;
	padding: 10px;
	background-color: #eee;
	border:1px solid #bfbfbf;
	box-shadow: 2px 2px 4px #aaa;
	border-radius: 5px;
}
#aside img{
	width: 85px;
	height: 85px;
}
#aside .latte{
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}
#aside .cappuccino{
	-webkit-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
#aside .mocha{
	-webkit-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}
#aside .nongsuo{
	-webkit-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
#content{
	float: right;
	width: 595px;
	/*height: 2050px;*/
	margin-bottom: 5px;
	background-color: #cff;
}
.subcon{
	width: 570px;
	margin: 10px auto;
	clear:both;
}
.subcon img{
	margin: 5px;
	padding: 5px;
	float: left;
	border: 1px dashed #000;
}
.subcon .subtext{
	width: 60%;
	float: left;
	margin: 5px;
}
.subcon h2{
	margin: 5px;
}
.subcon p{
	font:16px/2em;
}
#footer{
	height: 60px;
	line-height: 60px;
	border-color: #6cf;
	clear: both;
	text-align: center;
}
#left-fix{
	position: fixed;
	top: 100px;
	left: 5px;
}
