<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-个人选股系统</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="nav">
    <span><a href="#">选股系统</a></span>
    <span><a href="/index.html">股票信息</a></span>
    <span><a href="/center.html">个人中心</a></span>
</div>
<div id="main">
    <table>
        <tr>
            <th>股票代码</th>
            <th>股票简称</th>
            <th>涨跌幅</th>
            <th>换手率</th>
            <th>最新价(元)</th>
            <th>前期高点</th>
            <th>前期高点日期</th>
            <th>添加自选</th>
        </tr>
        {%content%}
    </table>
</div>
</body>
</html>
