#nav{
    background-color: #111;
    height: 30px;
    padding-left: 100px;
}
#nav span{
    margin: 10px;
}
#nav a{
    color:#fff;
    text-decoration: none;
    line-height: 30px;
}
#main{
    padding-left: 100px;
}
#main span{
    margin: 10px;
}
