<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">log in</button>
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
        </form>
    {% endblock content %}
</body>
</html>
