<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
<div id="nav">
    <span><a href="#">选股系统</a></span>
    <span><a href="/index.html">股票信息</a></span>
    <span><a href="/center.html">个人中心</a></span>
</div>
<div id="main">
    <span>正在修改</span><span>{%stock_code%}</span><span><input type="text" value="{%content%}"></span><span><a href="/update/{%stock_code%}/{%content%}.html">修改</a></span>
</div>
</body>
</html>
